$black: #050505;
$white: #f0f0f0;
$phe3no: #af2121;
$gray: #222;
$brown: #6d4f4b;
$green: #3b6b38;

$phe3no-opaque: rgb(175, 33, 33, 0.2);
$green-opaque: rgb(59, 107, 56, 0.2);
$brown-opaque: rgb(109, 79, 75, 0.2);
